@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jaini+Purva&family=Julee&family=Protest+Revolution&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.homepage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: fixed;
}


.homepage-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/homepage-bg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cover {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 100;
    overflow: hidden;
}

.leftcover,
.rightcover {
    width: 50vw;
    height: 100vh;
    max-height: 101vh;
    transition: transform 0.5s ease;
}

.hover-left,
.hover-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    cursor: pointer;
}

.hover-left {
    left: 50%;
    transform: translateX(-100%);
    z-index: 10;
}

.hover-right {
    right: 50%;
    transform: translateX(100%);
    z-index: 10;
}

#hand-right,
#hand-left {
    width: 60px;
    top: 45%;
    margin: -25px;
    z-index: 9;
}

.mainhomepage {
    position: relative;
    width: 100%;
    top: 30%;
    height: 35%;
    z-index: 10;
}

.scenery {
    position: absolute;
    top: 20%;
    right: 2%;
    width: 18%;
    height: 65%;
    transition: 0.5s ease;
}

.pet {
    position: absolute;
    top: 20%;
    left: 4%;
    width: 18%;
    height: 65%;
    transition: 0.5s ease;
}


.nonbs {
    position: absolute;
    right: 49.5%;
    transform: translateX(50%);
    width: 100%;
    height: 100%;
    z-index: -20;
}

.clickbs {
    position: absolute;
    top: 32%;
    right: 40%;
    width: 18%;
    height: 33%;
    cursor: pointer;
    z-index: -10;
    transition: 0.5s ease;
}

.children {
    position: absolute;
    bottom: 1%;
    right: 15%;
    width: 40%;
    height: auto;
    z-index: -5;
    transition: 0.5s ease;
}

.comeforward {
    z-index: 100;
}

.pet:hover,
.scenery:hover,
.children:hover,
.clickbs:hover {
    transform: scale(1.1);
}


.music-control2 {
    position: absolute;
    top: -13%;
    right: 3.5%;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.music-icon2,
.back-icon1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.music-icon2:hover {
    transform: scale(0.9);
}


.back1 {
    background-image: url(../images/homepage2.png);
    font-family: "Jaini Purva", system-ui;
    font-size: 12px;
    color: white;
    margin: 10px;
    padding: 5px;
    height: 15px;
    letter-spacing: 0.1em;
    top: -11%;
    left: -3%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    border: none;
    text-align: left;
    transform: translate(0, -50%);
    font-size: 14px;
    width: 80px;
    height: 12px;
    padding-bottom: 25px;
    padding-left: 25px;
    background-size: 80% auto;
}

.back1:hover {
    color: black;
}

@media screen and (min-width: 768px) {
    .homepage-container {
        background-image: url(../images/homepage-bg1.png);
    }

    .mainhomepage {
        height: 100%;
        top: 0;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .scenery {
        top: 20%;
        height: 60%;
    }

    .pet {
        top: 20%;
        height: 60%;
    }


    .nonbs {
        bottom: -3%;
        right: 49.5%;
        width: 110%;
        height: 100%;
    }

    .clickbs {
        top: 35%;
        right: 38.5%;
        width: 20%;
        height: 35%;
    }

    .children {
        right: 10%;
        width: 350px;
    }

    .music-control2 {
        right: 3.5%;
        width: 50px;
        height: 50px;
        top: 3%;
    }


    .back1 {
        font-size: 22px;
        margin: 10px;
        padding: 5px;
        height: 15px;
        top: 5%;
        left: 1.5%;
        background-size: contain;
        width: 100px;
        padding-bottom: 40px;
        padding-left: 28px;
    }

}

@media screen and (min-width: 1440px) {


    .homepage-container {
        background-image: url(../images/homepage-bg1.png);
    }

    .mainhomepage {
        height: 100%;
        top: 0;
    }


    .homepage-container {
        background-image: url(../images/homepage-bg1.png);
    }

    .scenery {
        position: absolute;
        top: 20%;
        right: 5%;
        width: 18%;
        height: 65%;
        transition: 0.5s ease;
    }

    .pet {
        position: absolute;
        top: 20%;
        left: 7%;
        width: 18%;
        height: 65%;
        transition: 0.5s ease;
    }


    .nonbs {
        position: absolute;
        bottom: -3%;
        right: 49.5%;
        transform: translateX(50%);
        width: 100%;
        height: 100%;
        z-index: -20;
    }

    .clickbs {
        position: absolute;
        top: 35%;
        right: 40%;
        width: 18%;
        height: 33%;
        cursor: pointer;
        z-index: -10;
        transition: 0.5s ease;
    }

    .children {
        position: absolute;
        bottom: 0;
        right: 25%;
        width: 25%;
        height: auto;
        z-index: -5;
        transition: 0.5s ease;
    }

    .comeforward {
        z-index: 100;
    }

    .pet:hover,
    .scenery:hover,
    .children:hover,
    .clickbs:hover {
        transform: scale(1.1);
    }


    .music-control2 {
        right: 3.5%;
        width: 50px;
        height: 50px;
        top: 3%;
    }


    .back1 {
        font-size: 22px;
        margin: 10px;
        padding: 5px;
        height: 15px;
        top: 5%;
        left: 1.5%;
        background-size: contain;
        width: 100px;
        padding-bottom: 40px;
        padding-left: 28px;
    }

}